@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("../static/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
  }
}

body {
  @apply min-h-screen flex flex-col bg-white dark:bg-black items-center gap-y-4 px-1.5;
}

@keyframes loading {
  50% {
    opacity: 0.5;
  }
}

.pulse-loading {
  animation: loading 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* -------------------- */
/* - nProgress styles - */
/* -------------------- */

#nprogress {
  @apply pointer-events-none absolute;
}

#nprogress .bar {
  @apply fixed z-50 top-0 left-0
    w-full h-[2px]
    bg-black dark:bg-white;
}
